body{
    background-color: rgb(139, 139, 199);
}
fieldset {
    background-color:rgb(111, 111, 184);
}
hr {
    border:1px solid black;
}
#parking_modif fieldset {
display: flex;
flex-direction: column;
padding: 15px;
}
#parking_modif button {
margin-top: 10px;
}
#parking_modif button {
margin-top: 10px;
width:fit-content;
}
#parking_modif input {
width: 150px;
}
